<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Classes</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Home</a></li>
                <li class="main-header__item"><a href="/add-class">Add Class</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Persisted Classes</h1>

        <% if (classes.length > 0) { %>
            <div class="grid">
                <% for (let myClass of classes) { %>
                    <article class="card product-item">
                        <div class="card__content">
                            <h1><a href="/class/<%= myClass.dataValues.id %>"><p><%= myClass.dataValues.name %>  <%= myClass.dataValues.institution %></p></a></h1>
                            <br>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Classes Found!</h1>
        <% } %>
    </main>
</body>

</html>